@font-face {
  font-family: 'Noto Sans KR';
  src: url('../font/NotoSansKR-Medium-Alphabetic.woff2') format('woff2'),
      url('../font/NotoSansKR-Medium-Alphabetic.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('../font/NotoSansKR-Black-Alphabetic.woff2') format('woff2'),
      url('../font/NotoSansKR-Black-Alphabetic.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../font/NotoSansKR-Bold-Alphabetic.woff2') format('woff2'),
      url('../font/NotoSansKR-Bold-Alphabetic.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../font/NotoSansKR-Light-Alphabetic.woff2') format('woff2'),
      url('../font/NotoSansKR-Light-Alphabetic.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'tt_commons';
    src: url('../font/TTCommons-Medium.woff2') format('woff2'),
        url('../font/TTCommons-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../font/HelveticaNeueW01-77BdCnObl.woff2') format('woff2'),
      url('../font/HelveticaNeueW01-77BdCnObl.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}
.fixed_container {
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0;
  right: 0;
  z-index: 11;
  height: 119px;
  background: #fff;
  border-bottom: 1px solid #000;
}
body {
  padding-top: 50px;
  word-break: keep-all;
  font-family: "tt_commons","Noto Sans KR","Noto Sans SC","Helvetica Neue","Apple SD Gothic Neo"
  ,"Nanum Barun Gothic","NanumBarunGothic","NanumBarunGothicOTF","Malgun Gothic"
  ,"Apple Gothic","Dotum",sans-serif;
}
.meta_text1 {
  padding-bottom: 15px;
  font-size: 50px;
  font-weight: 200;
}
.meta_text2{
  font-size: 23px;
  padding-bottom: 30px;
}
.meta_text {
  position: absolute;
  top: 180px;
  left: 80px;
  width: 80%;
  color: black;
  font-size: 30px;
  padding-top: 15px;
}
.page_home {
  width: 100%;
  height: 100%;
  padding: 40px 35px;
  border-bottom: 1px solid #000;
}
.LM1 {
  float: left;
  padding-right: 10px;
}
.LM {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page {
  width: 100%;
  height: 600px;
  padding-bottom: 20px;
}
.title {
  font-size: 60px;
  margin-bottom: 30px;
  font-size: 70px;
  font-weight: 100;
}
.overview1 {
  height: 200px;
  display: flex;
}
.overview1-1{
  font-size: 21px;
  width: 80%;
  height: 100%;
  line-height: 1.5;
}
.overview1-2 {
  padding-left: 70px;
  width: 100%;
  height: 150px;
  padding-right: 0px;
}
.indexwidth {
  width: 100%;
  overflow-x: hidden;
}
.stories {
  width: 100%;
  height: 200px;
  display: flex;
}
.stories1, .stories2{
  padding-top: 20px;
  font-size: 20px;
  width: 33.3%;
  height: 100%;

}
.stories3 {
  padding-top: 20px;
  font-size: 20px;
  width: 33.3%;
  height: 100%;
  padding-right: 50px;

}
.article_page {
  width: 100%;
  height: 500px;
}
.article {
  padding-top: 40px;
  width: 100%;
  height: 100px;
  display: flex;
  font-weight: 300;
}
.article1 {
  width: 23%;
  height: 100%;
  font-weight: 400;
}
.article2, .article3 {
  margin-left: 25px;
  width: 23%;
  height: 100%;
  font-weight: 400;
}
.article4 {
  margin-left: 25px;
  width: 23%;
  height: 100%;
  padding-right: 80px;
  font-weight: 400;
}
.videoflex {
  display: inline-block;
  padding-bottom: 90px;
}
.videoflex1 {
  width: 33%;
  float: left;
}
.videoword {
  font-size: 40px;
  font-weight: 400;
}
.video {
  padding-bottom: 100px;
}
.archive {
  width: 100%;
  height: 238px;
}
.archive1 {
  width: 100%;
  height: 150px;
  display: flex;
}
.archive1-1{
  font-size: 21.5px;
  line-height: 1.6;
  width: 45%;
  height: 100%;
  font-weight: 500;
}
.archive1-2 {
  font-weight: 500;
}
.archiverighttitle {
  font-size: 24px;
  float: left;
  font-weight: 600;
}
.archivearrow {
  padding-top: 10px;
  padding-left: 10px  ;
}
.archive1-2-1 {
  padding-left: 100px;
  padding-bottom: 30px;
}
.archive1-2-2 {
  padding-bottom: 30px;
  padding-left: 130px;
}
.videotitle {
  font-size: 60px;
  margin-bottom: 50px;
  font-size: 70px;
  font-weight: 100;
}
/*여기서부터 about*/
.about_home {
  padding-top: 80px;
  padding-left: 35px;
  padding-right: 15px;
  padding-bottom: 80px;
}
.about {
  width: 100%;
  height: 600px;
}
.abouttitle {
  font-size: 28px;
  padding-top: 20px;
  padding-bottom: 70px;
  display: flex;
}
.abouttitle1 {
  float: left;
  width:7%;
}
.abouttitle2, .abouttitle3 {
  float: left;
  width: 7%;
  color: #A3A3A3;
} 
.aboutflow {
  width: 100%;
  height: 150px;
  display: flex;
}
.aboutword{
  font-size: 20px;
  width: 45%;
  height: 100%;
  padding-bottom: 5px;
  font-weight: 400;
}
.aboutpic {
  padding-left: 75px;
  width: 48%;
  height: 100%;
}
.logodownload {
  padding-top: 40px;
}
.logodownload2 {
  padding-top: 25px;
}
.logodownload3 {
  background-image: url(../images/aboutdownloadbutton.png);
  background-size: 150px 60px;
  background-repeat: no-repeat;
  border: #fff;
  width: 20%;
  height: 45px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}
/*여기서부터 contact*/
.contact {
  padding-top: 110px;
  padding-left: 35px;
  padding-bottom: 135px;
  padding-right: 35px;
  height: 320px;
}
.contact1 {
  width: 40%;
  padding-bottom: 30px;
}
.contact2 {
  padding-top: 50px;
  width: 40%;
  line-height: 30px;
}
.contacttitle {
  font-size: 22.5px;
  float: left;
  font-weight: 600;
  padding-right: 40px;
}
.contacttitle1 {
  display: inline-block;
  border-left: 1px solid #999;
  padding-top: 3px;
}
.contacttitle1-1 {
  float: left;
  padding-left: 40px;
  font-size: 18px;
  font-weight: 600;
}
.contacttitle1-2 {
  float: left;
  padding-left: 50px;
  font-size: 18px;
  font-weight: 600;
  color: #999;
}
.contactword {
  font-size: 20px;
}
/*여기서부터 visit*/
.visit {
  font-style: normal;
  padding-top: 100px;
  padding-left: 35px;
  padding-right: 20px;
  padding-bottom: 80px;
}
.visittitle {
  padding-right: 40px;
  font-size: 24px;
  font-weight: 600;
}
.visittitlemain {
  font-size: 28px;
  font-weight: 200;
  line-height: 115%;
  padding-top: 80px;
}
.visitflex {
  display: flex;
  padding-top: 10px;
}
.visitflex1 {
  display: flex;
}
.visitflex2 {
  width: 50%;
  height: 100%;
  margin-top: 40px;
  line-height: 1.6;
}
.visitflex3 {
  width: 40%;
  height: 90%;
  padding-top: 10px;
  padding-left: 7px;
}
.visittitle1 {
  padding-top: 2px;
  width: 8%;
  display: inline-block;
  padding-left: 38px;
  border-left: 1px solid #999;
  font-size: 18px;
  font-weight: 700;
}
.visittitle2 {
  padding-top: 2px;
  width: 8%;
  display: inline-block;
  padding-left: 38px;
  font-size: 18px;
  font-weight: 700;
  color: #999;
}
em {
  font-style: normal;
  color: #999;
  font-size: 13px;
  font-weight: 600;
}
.em1 {
  font-style: normal;
  color: #999;
  
}
.em2 {
  padding-bottom: 5px;
}
/*여기서부터 partners*/
.partners {
  padding-top: 100px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 110px;
}
.partnersmaintitle {
  font-size: 24px;
  padding-bottom: 60px;
}
.partnerstitle1, .partnerstitle2, .partnerstitle3, .partnerstitle4, .partnerstitle5, .partnerstitle6, .partnerstitle8, .partnerstitle10 {
  font-size: 17px;
  padding-top: 20px;
}
.partnerstitle7, .partnerstitle9 {
  padding-bottom: 25px;
  font-size: 17px;
  padding-top: 20px;
}
.partnersflex1, .partnersflex2 , .partnersflex3, .partnersflex4, .partnersflex5, .partnersflex6, .partnersflex7, .partnersflex8, .partnersflex9, .partnersflex10 {
  display: flex;
  height: 150px;
  border-bottom: 1px solid #dfdfdf;
}
.partnersflex1-1,.partnersflex1-2 , .partnersflex2-1, .partnersflex3-1, .partnersflex3-2, .partnersflex3-3, .partnersflex3-4, .partnersflex3-5, .partnersflex4-1, .partnersflex5-1, .partnersflex6-1, .partnersflex6-2, .partnersflex6-3
,.partnersflex8-1, .partnersflex10-1{
  width: 17%;
  margin: auto;
  margin-left: 0px;
  margin-right: 0px;
}
.partnersflex9-1, .partnersflex9-2, .partnersflex9-3, .partnersflex9-4, .partnersflex9-5, .partnersflex9-6
,.partnersflex9-7, .partnersflex9-8, .partnersflex9-9, .partnersflex9-10, .partnersflex9-11, .partnersflex9-12
,.partnersflex7-1, .partnersflex7-2, .partnersflex7-3, .partnersflex7-4, .partnersflex7-5, .partnersflex7-6, .partnersflex7-7, .partnersflex7-8, .partnersflex7-9, .partnersflex7-10, .partnersflex7-11, .partnersflex7-12, .partnersflex7-13, .partnersflex7-14 {
  width: 17%;
}
.partnersflex7-1-1, .partnersflex7-2-1, .partnersflex9-1-1 {
  display: flex;
}
/*여기서부터 login*/
.login {
  margin: auto;
  margin-left: 530px;
  margin-right: 400px;
  max-width: 300px;
  padding-top: 120px;
  padding-bottom: 80px;
  height: 520px;
}
.logintitle {
  font-size: 40px;
  padding-bottom: 35px;
  font-weight: 100;
}
.userid1 {
  padding-bottom: 20px;
}
.loginbutton1 {
  float: left;
}
.input1 {
  height: 33px;
  border: 1px solid #ddd;
}
.loginbox {
  padding-bottom: 20px;
}
.loginlabel {
  padding-bottom: 20px;
}
.signmein {
  padding-bottom: 30px;
  
}
.signmein1 {
  color: #999;
  padding-left: 10px;
}
.loginbutton {
  width: 150%;
}
.loginbutton1 {
  background-image: url(../images/로그인버튼.PNG);
  background-size: 210px 60px;
  background-repeat: no-repeat;
  border: #fff;
  width: 50%;
  height: 45px;
  color: #fff;
}
.loginbutton2{
  background-image: url(../images/등록버튼.PNG);
  background-size: 230px 60px;
  background-repeat: no-repeat;
  border: #fff;
  width: 50%;
  height: 45px;
  color: #fff;
}
.forgot {
  padding-top: 25px;
}
.forgot1 {
  padding-right: 20px;
  color: #999;
}
.forgot2 {
  color: #999;
}
/*여기서부터 register*/
.register {
  margin: auto;
  margin-left: 530px;
  margin-right: 400px;
  max-width: 500px;
  padding-top: 120px;
  padding-bottom: 80px;
  height: 940px;
}
.registertitle {
  font-size: 40px;
  line-height: 115%;
  padding-bottom: 81px;
  font-weight: 200;
}
.registerbox {
  padding-bottom: 20px;
  width: 100%;
}
.registerbox1 {
  padding-bottom: 40px;
  border-bottom: solid 1px #dddddd;
  width: 450px;
}
.registerlabel {
  padding-bottom: 15px;
}
.registerbutton {
  background-image: url(../images/로그인버튼.PNG);
  background-size: 300px 60px;
  background-repeat: no-repeat;
  border: #fff;
  width: 63%;
  height: 45px;
  color: #fff;
  
}
.movebutton {
  padding-left: 100px;
  padding-top: 100px;
}
.newsletterok  {
  width: 180%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.newsletterok1  {
  width: 160%;
  color: #999;
  padding-left: 10px;
}
.ok {
  float: left;
  margin-top: 5px;
}
.ok1 {
  float: left;
}
.ok2 {
  padding-left: 15px;
}
.personal {
   margin-bottom: 15px;
   font-size: 14px;
}

/*여기서부터 news*/
.News {
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 100px;
  height: 920px;
}
.Newsmaintitle {
  padding-bottom: 80px;
}
.date {
  font-size: 15px;
  color: #ccc;
  text-align: right;
}
.board {
  font-size: 15px;
  color: #ccc;
  float: left;
  padding-left: 5px;
}
.link {
  float: left;
  padding-left: 5px;
}
.Newsmaintitle1 {
  font-size: 24px;
  display: inline;
  font-weight: 600;
}
.Newsmaintitle2 {
  display: inline-block;
  margin: 0 35px;
  padding: 0 24px;
  padding-left: 40px;
  border-left: 1px solid #999;
  font-weight: 600;
  padding-bottom: 2px;
}
.Newstitle {
  float: left;
  font-size: 20px;
}
.bottomnumber1{
  font-size: 23px;
  line-height: 28px;
  float: left;
  color: #000;
}
.bottomnumber {
  font-size: 23px;
  line-height: 28px;
  font-weight: bold;
  padding: 0 7px;
  margin: 0 5px 0 0;
  padding-top: 45px;
  color: #999;
}
.Newsflex1 {
  display: block;
  font-size: 21px;
  padding-top: 12px;
  line-height: 140%;
  padding-bottom: 12px;
  border-bottom: solid 1px #f1f0f0;
}
/*여기서부터 organizer*/
.organizer {
  padding-top: 100px;
  padding-left: 35px;
  padding-right: 35px;
  height: 2380px;
}
.organizerflex1, .organizerflex2, .organizerflex3, .organizerflex6, .organizerflex11, .organizerflex7, .organizerflex8, .organizerflex9 {
  display: flex;
  padding-bottom: 30px;
  
}

.organizerflex4, .organizerflex5 {
  display: flex;
  padding-bottom: 30px;
  padding-top: 30px;
}
.organizerflex7, .organizerflex8, .organizerflex9 {
  padding-bottom: 50px;
}
.organizerflex3, .organizerflex4, .organizerflex11 {
  padding-bottom: 130px;
}
.organizerflex1-1, .organizerflex2-1, .organizerflex3-1, .organizerflex4-1, .organizerflex6-1, .organizerflex7-1, .organizerflex8-1, .organizerflex9-1 {
  width: 16.7%; 
}
.organizerflex5-1 {
  width: 16.7%; 
  padding-bottom: 40px;
}
.organizerbox {
  border-bottom: 1px solid #ddd;
  padding: 0 0 30px 0;
  font-weight: 550;
}
.organizermaintitle {
  font-size: 25px;
  padding-bottom: 75px;
}
.organizermini1 {
  font-size: 12px;
  padding-bottom: 5px;
}
.gu, .gang {
  padding-bottom: 50px;
  padding-top: 40px;
}
.son {
  padding-top: 10px;
  padding-bottom: 50px;
}

/*여기서부터 insight*/
.insight {
  padding-top: 105px;
  padding-left: 35px;
  padding-right: 5px;
}
.insightflex1 {
  display: inline-block;
  padding-bottom: 70px;
}
.insightflex1-1 {
  width: 25%;
  float: left;
}
.insightword {
  padding-top: 10px;
  font-size: 17px;
  font-weight: 600;
}
.insightsmallword {
  padding-top: 7px;
  font-size: 17px;
}
.insightflex {
  padding-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
}
.insightmaintitle {
  float: left;
  font-size: 24px;
  width: 7%;
  padding-right: 15px;
  font-weight: 600;
}
.insightmaintitle1 {
  padding-top: 2px;
  width: 5%;
  display: inline-block;
  padding-left: 38px;
  border-left: 1px solid #999;
  font-size: 18px;
  font-weight: 700;
}
.insightmaintitle2 {
  width: 7%;
  padding-top: 2px;
  color: #A3A3A3;
  font-size: 18px;
  display: inline-block;
  font-weight: 700;
  padding-left: 9px;
}
.insightsearch {
  text-align: right;
  float: right;
  padding-left: 26%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.insightsearch1 {
  width: auto;
  height: 18px;
  border: 1px solid #ddd;
  color: #666;
  padding: 14px 16px;
}
.insightsearch2 {
  width: auto;
  height: 48px;
  background: #000;
  border: 0;
  padding: 14px 21px;
  color: #FFF;
  font-size: 14px;
}
.moreflex {
  display: flex;
  padding-bottom: 80px;
}
.list-more {
  width: 96.5%;
  display: block;
  background: #f8f8f8;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-weight: 200;
}
/*여기서부터 header*/
.headerflex {
  display: flex;
  /* padding-right: 35px; */
  width: 100%;
  font-weight: 500px;
}
.headerflex1 {
  width: 100%;
}
.headerflex2 {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 100%;
}
.headerfirst {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  height: 6px;
  padding-left: 512px;
  font-weight: 600;
  width: 100%;
}
.headersecond {
  margin-top: 20px;
  margin-bottom: 10px;
  float: left;
  height: 7px;
  padding-left: 228px;
  font-weight: 600;
  width: 100%;
}
.headerfirst1, .headerfirst2 ,.headerfirst3 {
  float: left;
  padding-left: 28px;
  padding-top: 20px;
}

.headersecond1, .headersecond2, .headersecond3, .headersecond4, .headersecond5, .headersecond6 {
  padding-left: 20px;
  padding-top: 20px;
  float: left;
  font-size: 21px;
}
.main_logo {
  margin-top: 29px;
  margin-left: 35px;
}
.mainpic {
  padding-top: 68px;
  max-width: 100%;
}
/*여기서부터 footer*/
.upbutton {
  position: fixed;
  bottom: 25px;
  right: 25px;
}
.footerflex {
  width: 100%;
  height: 305px;
  display: flex;
}
.footerflex1, .footerflex2,.footerflex3 {
  width: 33%;
  height: 70px;
  display: flex;
}
.footul1 {
  list-style:none;
  padding-bottom: 10px;
  padding-left: 35px;
  width: 30%;
}
.footul2 {
  list-style:none;
  padding-bottom: 10px;
  width: 30%;
}
.footul3{
  list-style:none;
  padding-bottom: 10px;
  padding-left: 45px;
  width: 30%;
}
.footli {
  padding-bottom: 30px;
  font-size: 24px;
}
.footerleftup {
  width: 50%;
  height: 100%;
  padding-bottom: 5px;
  padding-top: 17px;
  display: flex;
  
}
.footerrightup {
  font-size: 8px;
  width: 50%;
  height: 100%;
  padding-bottom: 5px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}
.footerflex4, .footerflex5 {
  width: 100%;
  height: 70px;
  display: flex;
}
.footerflex4-1 {
  display: flex;
  width: 100%;
  font-size: 12px;

}
.footerflex5-1 {
  display: flex;
  width: 100%;
  font-size: 12px;
  padding-top: 40px;
}
.footerflex4-1-1, .footerflex4-1-2,.footerflex4-1-3, .footerflex4-1-4, .footerflex5-1-1 {
  width: 28%;
  padding-left: 45px;
  padding-right: 10px;
}
.footerflex5-1-2 {
  width: 56%;
  padding-left: 25px;
}
.footerflex5-1-3{
  width: 25%;
  padding-left: 60px;
}
footer {
  padding-top: 20px;
  border-top: 1px solid #000;
  background: #141414;
  margin-bottom: 0px;
}
.foot {
  color: white;
}
.foot1 {
  padding-right: 60px;
}
.footerimg1, .footerimg1 {
  float: left;
  padding-right: 10px;
}
.bottomfootertitle {
  padding-bottom: 15px;
  font-size: 16px;
  color: #999;
}
.bottomfootertitle1{
  font-size: 14px;
}
.footerleftdown{
  padding-left: 35px;
  padding-bottom: 35px;
}
.footerflex6 {
  display: flex;
  width: 100%;

}
.footerleftdown {
  width: 50%;
}
.footerrightdown {
  width: 60%;
  padding-top: 90px;
  color: #999;
}
.footerrightdown-2 {
  float: left;
  padding-left: 30px;
}
.footerrightdown-3 {
  float: left;
  padding-left: 95px;
}
.footersmall {
  font-size: 14px;
}
ul {
  list-style:none;
}
li {
  float: left;
}